/* GENERAL STYLING */
:root {
  --header-font: Pacifico;
  --title-font: Righteous;
  --main-font: PTSans;
  --main-bg-color: #f7ecde;
  --header-color: #352e28;
  --text-color: #212529;
}

body {
  background-color: var(--main-bg-color);
}
ul {
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 0;
}

::selection {
  background-color: #fec260;
  color: var(--text-color);
}

.layer {
  visibility: hidden;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 999;
}

/* HEADER */
header {
  .title {
    border-bottom: 2px #352e28 dotted;
    padding-bottom: 48px;
  }
  h1 {
    color: var(--header-color);
    font-family: var(--header-font);
    font-size: 50px;
    font-weight: 500;
    display: inline-block;

    position: relative;
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 20px;
      bottom: 0;
      left: 0;
      background-color: #fec260;
      z-index: -1;
      transition: all 0.4s;
    }

    &:hover::after {
      height: 40px;
    }
  }
}

/* BOOKMARK INPUT */
.bookmark-input {
  .submit-button {
    font-family: var(--main-font);
    font-size: 16px;
    font-weight: 400;
    color: rgb(255, 255, 255);
    background-color: rgb(209, 81, 45);
    border: none;
    border-radius: 5px;
    padding: 6px 48px;
    transition: all 0.4s;

    &:hover {
      background-color: #bb4120;
    }
  }
  .content {
    border-bottom: 2px #352e28 dotted;
    padding: 24px 16px;
    h2 {
      background-image: linear-gradient(to right, #3ca55c, #b5ac49);
      background-clip: text;
      -webkit-text-fill-color: transparent;
      font-family: var(--title-font);
      font-size: 25px;
      font-weight: 500;
    }

    label {
      font-family: var(--main-font);
      font-size: 16px;
      font-weight: 600;
      color: var(--text-color);
    }

    .normal-input {
      padding: 6px 12px;
      border: 1px solid #ced4da;

      &:focus {
        color: #212529;
        background-color: #fff;
        border-color: #d99c39;
        outline: 0;
        box-shadow: 0 0 0 0.25rem #fec26055;
      }
    }

    .valid-input {
      padding: 6px 12px;
      border: 1px solid #ced4da;
      border-color: #198754;

      &:focus {
        color: #212529;
        background-color: #fff;

        outline: 0;
        box-shadow: 0 0 0 0.25rem rgba(25, 135, 84, 0.3);
      }
    }

    .invalid-input {
      padding: 6px 12px;
      border: 1px solid #ced4da;
      border-color: red;

      &:focus {
        color: #212529;
        background-color: #fff;

        outline: 0;
        box-shadow: 0 0 0 0.25rem rgba(255, 0, 0, 0.3);
      }
    }

    .valid-icon {
      position: absolute;
      right: 15px;
      bottom: 8%;
      color: #198754;
      display: none;
    }

    .invalid-icon {
      position: absolute;
      right: 15px;
      bottom: 8%;
      color: red;
      display: none;
    }

    .valid-icon2 {
      position: absolute;
      right: 15px;
      bottom: 8%;
      color: #198754;
      display: none;
    }

    .invalid-icon2 {
      position: absolute;
      right: 15px;
      bottom: 8%;
      color: red;
      display: none;
    }
  }
}

/* BOOKMARK DISPLAY */
.bookmark-display {
  table {
    font-family: var(--main-font);
    font-size: 16px;
    font-weight: 700;
    color: #212529;

    button {
      padding: 6px 18px;
      border-radius: 8px;
      border: none;

      span {
        margin-right: 5px;
      }
    }
    .visit {
      background-color: #8a9e23;
      color: white;
      transition: all 0.4s;

      &:hover {
        background-color: #6e8018;
      }
    }

    .delete {
      background-color: red;
      color: white;
      transition: all 0.4s;

      &:hover {
        background-color: #ba081d;
      }
    }
  }
}

.submit-card {
  background-color: white;
  width: 500px;
  border-radius: 5px;
  border: none;

  .card-header {
    padding: 0;
    background-color: white;
    border: none;
    .circle {
      width: 20px;
      height: 20px;
      border-radius: 50%;
    }
    .c1 {
      background-color: red;
    }
    .c2 {
      background-color: orange;
    }
    .c3 {
      background-color: green;
    }

    .close {
      background-color: white;
      border: none;
    }
  }

  .title {
    font-size: 21px;
    font-weight: 400;
    font-family: Bree;
    color: #352e28;
  }

  .card-content {
    padding: 0;
    p {
      display: inline-block;
      font-family: var(--main-font);
      font-size: 18px;
      font-weight: 400;
      color: #212529;
    }
    i {
      padding: 8px;
      color: #bb4120;
    }
  }
}
